{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Task 3</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>

	<style type="text/css">

		.large-box {
			width: 200px;
			height: 200px;
			background: #f1f1f1;
			padding: 5px;
			margin: 0 10px 10px 0;
		}

		.small-box {
			height: 100px;
			width: 100px;
			background: grey;
			padding: 5px;
		}

	</style>

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3>Task 3</h3>
				<div class="shape-container">
					<div id="origin-box" class="large-box">
						<div id="drag-box" class="small-box text-light">
						  <p>Box</p>
						</div>
					</div>

					<div id="drop-box-2" class="large-box">
					  <p>Drop here</p>
					</div>
					 
					<div id="drop-box-1" class="large-box">
					  <p>Drop here</p>
					</div>
				</div>
			</div>
		</div>
	</div>
  <script>
	  // your solution here
  </script>
</body>
</html>