{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

		<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
	    <div class="container">
			<div class="row">
				<div class="col-12">
					<h3>Task 8</h3>
					<ul class="list-group">
					  <li class="list-group-item"><a href="a/">Task 8a</a></li>
					  <li class="list-group-item"><a href="b/">Task 8b</a></li>
					  <li class="list-group-item"><a href="c/">Task 8c</a></li>
					  <li class="list-group-item"><a href="d/">Task 8d</a></li>
					  <li class="list-group-item"><a href="e/">Task 8e</a></li>
					  <li class="list-group-item"><a href="f/">Task 8f</a></li>
					  <li class="list-group-item"><a href="g/">Task 8g</a></li>
					  <li class="list-group-item"><a href="h/">Task 8h</a></li>


					</ul>
				</div>
			</div>
		</div>
	</body>
</html>